//PRIMARY COLORS

$black-18: #181818;
$black-00: #000000;

$white-ff: #ffffff;

// SECONDARY COLORS
$grey-C2: #c2c2c2;
$grey-4c: #4c4c4c;
$grey-ce: #ceced0;

// BACKGROUND COLORS
$blue-1a: #00071a;
$blue-35: #1b1c35;
$blue-02: #9f72ff;
$pink-b9: #fd50b9;


//box shadow
$box-shadow-1: 0 0 0px 0px #fd50b9 inset, 0 0 0 0 #fd50b9;
$box-shadow-2: 0 0 10px 0 #fd50b9 inset, 0 0 10px 4px #fd50b9;

//gradiend
$gradient-1: var(
  --Linear,
  linear-gradient(90deg, #5a56f0 -1.33%, #fd50b9 100%)
);
$gradient-2: var(--Linear, linear-gradient(90deg, #5a56f0 -1.33%, #fd50b9 100%));
$gradient-3: var(--linear, linear-gradient(135deg, #EB5C18 0%, #F95055 45.72%, #CA2DB8 100%));

// opaciy bg
$bg-opacity-1: rgba(255, 255, 255, 0.1)